/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

 h3.sound{
	font-size: 1.4rem;
	color: #fff; 
 }

.wp-block-create-block-decibel-range-slider {
	font-size: 1em;
	// background: orangered;
	padding: 1em;
	border-radius: 10px; 
	transition: all .5s ease; 
	color: #fff; 

	&.dark-theme {
		background: #333;
		color: #fff;

		button {
			background: #555;
			color: #fff;
			border: 1px solid #777;
		}

		p {
			color: #ddd;
		}
	}
}

.decibel-slider-wrapper{
	transition: all .5s ease; 
}

h2.decibel-number{
	color: #fff ; 
	margin-bottom: 0;
}

// #myRange{
// 	border: none; 
// }

.meter-wrapper{
	display: flex;
	flex-flow: row; 
	gap: .25em; 
	width: 100%; 
	padding-top: 1em; 
	margin-top: 1em;
	margin-bottom: 1em;
	transition: clip-path .5s ease;  
}

.meter {
	height: 6em;
	border-radius: 5px; 
	flex: 0 1 3em;
	
}

.meter.meter-eighty {
	height: 7em;
	transform: translateY(-.5em);
}

.meter-green{
	background: green;
}

.meter-yellow{
	background: yellow;
}

.meter-red{
	background: red;
}

// #decibelDisplay {
// 	opacity: 0; 
// 	transition: opacity 1s ease;
// }

// #decibelDisplay.fadeoutin{
// 	opacity: 1; 
// }

.slider-wrapper{
	display: flex;
	justify-content: space-between;
}

//range slider styles 
.slider {
    appearance: none; 
	-webkit-appearance: none;
    width: 88%; 
    height: 25px; 
    background: #fff ; 
    outline: none; 
    border-radius: 0 ; 
}

.slider::-webkit-slider-thumb{
	appearance: none; 
	width: 20px; 
	height: 100%; 
	border-radius: 0; 
	background: orangered; 
	cursor: pointer; 
  }

.slider::-moz-range-thumb {
  appearance: none; 
  width: 20px; 
  height: 150%;
  border-radius: 0; 
  background: orangered; 
  cursor: pointer; 
  border-radius: 5px;
}

.slider::-webkit-slider-runnable-track {
	-webkit-appearance: none; /* removes default track styling */
	appearance: none;
	background: #fff; /* track background color */
	height: 100%; /* track height */
  }

// .slider {
// 	-webkit-appearance: none;
// 	appearance: none;
// 	width: 100%; /* Full-width slider */
// 	height: 8px; /* Track height */
// 	background: #ccc; /* Track background */
// 	outline: none; /* Removes focus outline */
//   }
  
//   .slider::-webkit-slider-thumb {
// 	-webkit-appearance: none; /* removes browser-specific styling */
// 	appearance: none;
// 	width: 20px; /* handle width */
// 	height: 20px; /* handle height */
// 	border-radius: 50%; /* make it circular */
// 	background: orangered; /* thumb color */
// 	cursor: pointer; /* cursor on hover */
//   }
  
//   .slider::-webkit-slider-runnable-track {
// 	-webkit-appearance: none; /* removes default track styling */
// 	appearance: none;
// 	background: #ddd; /* track background color */
// 	height: 4px; /* track height */
//   }

