/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-create-block-decibel-range-slider {
	font-size: 1em;
	// background: orangered;
	padding: 1em;
	border-radius: 10px; 
	transition: all .5s ease; 
	color: #fff; 

	&.dark-theme {
		background: #333;
		color: #fff;

		button {
			background: #555;
			color: #fff;
			border: 1px solid #777;
		}

		p {
			color: #ddd;
		}
	}
}

.decibel-slider-wrapper{
	transition: all .5s ease; 
}

h2.decibel-number{
	color: #fff ; 
	margin-bottom: 0;
}

// #myRange{
// 	border: none; 
// }

.meter-wrapper{
	display: flex;
	flex-flow: row; 
	gap: .25em; 
	width: 100%; 
	padding-top: 1em; 
	margin-top: 1em;
	margin-bottom: 1em;
	transition: clip-path .5s ease;  
}

.meter {
	height: 6em;
	border-radius: 5px; 
	flex: 0 1 3em;
	
}

.meter.meter-eighty {
	height: 7em;
	transform: translateY(-.5em);
}

.meter-green{
	background: green;
}

.meter-yellow{
	background: yellow;
}

.meter-red{
	background: red;
}

// #decibelDisplay {
// 	opacity: 0; 
// 	transition: opacity 1s ease;
// }

// #decibelDisplay.fadeoutin{
// 	opacity: 1; 
// }

.slider-wrapper{
	display: flex;
	justify-content: space-between;
}

//range slider styles 
.slider {
    appearance: none; /* removes browser-specific styling */
    width: 88%; /* width of slider */
    height: 25px; /* height of slider */
    background: #fff ; /* orange background */
    outline: none; /* remove outline */
    border-radius: 12px; /* round corners */
	padding-left: .25em; 
	padding-right: .25em; 
	border: 2px solid orangered;
}

.slider::-webkit-slider-thumb {
  appearance: none; /* removes browser-specific styling */
  width: 20px; /* handle width */
  height: 20px; /* handle height */
  border-radius: 50%; /* make it circular */
  background: orangered; /* white color */
  cursor: pointer; /* cursor on hover */
}
