/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */


.wp-block-create-block-decibel-range-slider {
	font-size: 1em;
	// background: orangered;
	padding: 1em;
	border-radius: 10px; 
	transition: all .5s ease; 

	&.dark-theme {
		background: #333;
		color: #fff;

		button {
			background: #555;
			color: #fff;
			border: 1px solid #777;
		}

		p {
			color: #ddd;
		}
	}
}

.decibel-slider-wrapper{
	transition: all .5s ease; 
}
